$mobile :"(max-device-width : 480px)"
$tablet : "screen and (min-device-width: 768px) and (max-device-width: 1024px)"
$escritorio : "(min-width: 1024px)"
$tamtableta: 2.5em
$tamCell: 4em



//Variables de Color
$Rojo1: #8C0708
$Rojo2: #BF0F0F
$Gris1: #D8D8D9
$Gris2: #727272
$Negro1: #252525
$Blanco: #FFFFFF

$Verde1: #007E23
